* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: no-repeat center center fixed;
    background-size: cover;
    color: #fdf8f8;
    text-shadow: 0 0 18px #a1a1a1;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p, #crypto, #weather {
    margin: 0;
    padding: 1em;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle {
    text-align: center;
}

#crypto {
    font-size: 2.1rem;
}

#crypto-header {
    display: flex;
    align-items: center;
    gap: .4em;
}

#crypto-data {
    font-size: 1.5rem;
    padding-left: .5em;
    padding-top: .5em;
}

#crypto-data img {
    width: 1.3em;
}

#crypto-data p {
    padding: .2em 0;
    display: flex;
    align-items: center;
    gap: .5em;
}